{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block projects_list %}
    <h2>
        {{ title }}
        {% if own %}
            <a href="{{ path('project.add') }}"><i class="fa fa-plus-circle "></i></a>
        {% endif %}
    </h2>
    {% if projects is empty %}
        <h4>You can create your own project <a href="{{ path('project.add') }}">here</a>!</h4>
    {% else %}
        <ul class="list-group list-group-flush">
            {% for project in projects %}
                <li class="list-group-item">
                    <h4>
                        <a href="{{ path('project', {'alias': project.alias}) }}">{{ project.name }}</a>
                        {% if own %}
                            <a href="{{ path('project.edit', {'id': project.id}) }}"><i class="fa fa-edit "></i></a>
                        {% endif %}
                        <br/>
                        <small class="text-secondary">
                            {% if project.jobs|length > 0 %}
                                (active jobs: {{ project.jobs|length }})
                            {% else %}
                                (there's no jobs yet, <a href="{{ path('job.add') }}">add one</a>)
                            {% endif %}
                        </small>
                    </h4>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% with {title: 'Own projects', projects: own, own: true} %}
                {{ block('projects_list') }}
            {% endwith %}
        </div>
        <div class="col-md-6">
            {% with {title: 'Public projects', projects: public, own: false} %}
                {{ block('projects_list') }}
            {% endwith %}
        </div>
    </div>
{% endblock %}
