{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <select class="custom-select" id="precise" onchange="window.precise()">
                <option selected>Choose...</option>
                <option value="hours">Few hours</option>
                <option value="day">Day</option>
                <option value="week">Week</option>
            </select>
            <script>
                function precise() {
                    window.location = window.location.origin + '?precise=' + document.querySelector('#precise').value
                }
                function getParameterByName(name, url) {
                    if (!url) url = window.location.href;
                    name = name.replace(/[\[\]]/g, '\\$&');
                    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                        results = regex.exec(url);
                    if (!results) return null;
                    if (!results[2]) return '';
                    return decodeURIComponent(results[2].replace(/\+/g, ' '));
                }
            </script>
            <div class="card">
                {% for job in data %}
                    <div class="card-header">
                        {{ job.name }}
                    </div>
                    <div class="card-body">
                        {% if job.logs is not empty %}
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush" style="height: 100px; overflow: auto">
                                        {% for log in job.logs %}
                                            <li class="list-group-item">
                                                {% if log.up %}
                                                    <i class="fas fa-thumbs-up"></i>
                                                {% else %}
                                                    <i class="fas fa-thumbs-down"></i>
                                                {% endif %}
                                                {{ log.created|date("m/d/Y H:i:s") }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% if job.logs|length > 1 %}
                                    <div class="col-md-6">
                                        <div id="piechart-{{ job.id }}"></div>
                                        <script type="text/javascript">
                                            // Load google charts
                                            google.charts.load('current', {'packages': ['corechart', 'line']});
                                            google.charts.setOnLoadCallback(drawChart);

                                            // Draw the chart and set the chart values
                                            function drawChart() {
                                                var data = new google.visualization.DataTable();
                                                data.addColumn('date', 'Time');
                                                data.addColumn('number', 'Status');
                                                {% for log in job.logs %}
                                                var created = {{ log.created }};
                                                var row = [new Date(created * 1000), {{ log.up|default(0) }}];
                                                data.addRow(row);
                                                {% endfor %}

                                                // Optional; add a title and set the width and height of the chart
                                                var min = new Date()
                                                switch(getParameterByName('precise')) {
                                                    case 'hours':
                                                        min.setTime(min.getTime() - (min.getDay() ? min.getDay() : 1) * 4 * 60 * 60 * 1000);
                                                        break;
                                                    case 'day':
                                                        min.setTime(min.getTime() - (min.getDay() ? min.getDay() : 1) * 24 * 60 * 60 * 1000);
                                                        break;
                                                    case 'week':
                                                        min.setTime(min.getTime() - (min.getDay() ? min.getDay() : 7) * 24 * 60 * 60 * 1000);
                                                        break;
                                                    default:
                                                        min.setTime(min.getTime() - 10 * (min.getDay() ? min.getDay() : 7) * 24 * 60 * 60 * 1000);
                                                }
                                                var options = {
                                                    'height': 100,
                                                    legend: {position: 'none'},
                                                    vAxis: {
                                                        gridlines: {count: 1},
                                                        label: 'none',
                                                        viewWindow: {
                                                            min: 0,
                                                            max: 1,
                                                        },
                                                    },
                                                    hAxis: {
                                                        viewWindow: {
                                                            min: min,
                                                            max: new Date(),

                                                        },
                                                        gridlines: {
                                                            count: -1,
                                                            units: {
                                                                days: {format: ['MMM dd']},
                                                                hours: {format: ['HH:mm', 'ha']},
                                                            }
                                                        },
                                                        minorGridlines: {
                                                            units: {
                                                                hours: {format: ['hh:mm:ss a', 'ha']},
                                                                minutes: {format: ['HH:mm a Z', ':mm']}
                                                            }
                                                        }
                                                    }
                                                };

                                                // Display the chart inside the <div> element with id="piechart"
                                                var chart = new google.visualization.LineChart(document.getElementById('piechart-{{ job.id }}'));
                                                chart.draw(data, options);
                                            }
                                        </script>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
