{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav">
                <li class="nav-item">
                    <span class="nav-link disabled">Show logs for</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ precise == 'hours' ? ' disabled' }}" href="{{ path(null, {}, {precise: 'hours'}) }}">Few hour</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ precise == 'day' ? ' disabled' }}" href="{{ path(null, {}, {precise: 'day'}) }}">Day</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ precise == 'week' ? ' disabled' }}" href="{{ path(null, {}, {precise: 'week'}) }}">Week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ precise == 'month' ? ' disabled' }}" href="{{ path(null, {}, {precise: 'month'}) }}">Month</a>
                </li>
            </ul>
            <div class="card">
                {% for job in data %}
                    <div class="card-header">
                        {{ job.name }}
                    </div>
                    <div class="card-body">
                        {% if job.logs is not empty %}
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush" style="height: 100px; overflow: auto">
                                        {% for log in job.logs %}
                                            <li class="list-group-item">
                                                {% if log.up %}
                                                    <i class="fas fa-thumbs-up"></i>
                                                {% else %}
                                                    <i class="fas fa-thumbs-down"></i>
                                                {% endif %}
                                                {{ log.created|date("m/d/Y H:i:s") }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% if job.logs|length > 1 %}
                                    <div class="col-md-6">
                                        <div id="piechart-{{ job.id }}"></div>
                                        <script type="text/javascript">
                                            // Load google charts
                                            google.charts.load('current', {'packages': ['corechart', 'line']});
                                            google.charts.setOnLoadCallback(drawChart);

                                            // Draw the chart and set the chart values
                                            function drawChart() {
                                                var data = new google.visualization.DataTable();
                                                data.addColumn('date', 'Time');
                                                data.addColumn('number', 'Status');
                                                {% for log in job.logs %}
                                                var created = {{ log.created }};
                                                var row = [new Date(created * 1000), {{ log.up|default(0) }}];
                                                data.addRow(row);
                                                {% endfor %}

                                                // Optional; add a title and set the width and height of the chart
                                                var min = new Date()
                                                switch('{{ precise }}') {
                                                    case 'hours':
                                                        min.setTime(min.getTime() - 4 * 60 * 60 * 1000);
                                                        break;
                                                    case 'day':
                                                        min.setTime(min.getTime() - 24 * 60 * 60 * 1000);
                                                        break;
                                                    case 'week':
                                                        min.setTime(min.getTime() - 7 * 24 * 60 * 60 * 1000);
                                                        break;
                                                    default:
                                                        min.setTime(min.getTime() - 4 * 7 * 24 * 60 * 60 * 1000);
                                                }
                                                var options = {
                                                    'height': 100,
                                                    legend: {position: 'none'},
                                                    vAxis: {
                                                        gridlines: {count: 1},
                                                        label: 'none',
                                                        viewWindow: {
                                                            min: 0,
                                                            max: 1,
                                                        },
                                                    },
                                                    hAxis: {
                                                        viewWindow: {
                                                            min: min,
                                                            max: new Date(),

                                                        },
                                                        gridlines: {
                                                            count: -1,
                                                            units: {
                                                                days: {format: ['MMM dd']},
                                                                hours: {format: ['HH:mm', 'ha']},
                                                            }
                                                        },
                                                        minorGridlines: {
                                                            units: {
                                                                hours: {format: ['hh:mm:ss a', 'ha']},
                                                                minutes: {format: ['HH:mm a Z', ':mm']}
                                                            }
                                                        }
                                                    }
                                                };

                                                // Display the chart inside the <div> element with id="piechart"
                                                var chart = new google.visualization.LineChart(document.getElementById('piechart-{{ job.id }}'));
                                                chart.draw(data, options);
                                            }
                                        </script>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
