{% extends '@layout/default.html.twig' %}

{% block title %}Add job{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Command</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                    <tr>
                        <th scope="row">{{ job.id }}</th>
                        <td>{{ job.name }}</td>
                        <td><code>{{ job.command|truncate(50) }}</code></td>
                        <td>
                            <a href="{{ path('job.edit', {'id': job.id}) }}">Edit</a>
                            |
                            <a href="{{ path('job.delete', {'id': job.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
