{% extends '@layout/default.html.twig' %}

{% block title %}Add job{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if jobs is empty %}
                <div class="alert alert-dark" role="alert">
                    There's no jobs, but you can <a href="{{ path('job.add') }}">add</a> one.
                </div>
            {% else %}
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Project</th>
                    <th scope="col">Command</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                    <tr>
                        <th scope="row">{{ job.id }}</th>
                        <td>{{ job.name }}</td>
                        <td><a href="{{ path('project', {'alias': job.project.alias}) }}">{{ job.project.name }}</a></td>
                        <td><code>{{ job.command|truncate(50) }}</code></td>
                        <td><a href="{{ path('job.edit', {'id': job.id}) }}">Edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
